@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Audiowide&family=Carter+One&family=Caveat:wght@400..700&family=Delius&family=Gaegu&family=Handlee&family=Jockey+One&family=Jolly+Lodger&family=Oswald:wght@200..700&family=Poppins:wght@300;400&family=Protest+Revolution&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rock+Salt&family=Shadows+Into+Light&display=swap');

:root{
    --color_1: #0D1940;
    --color_2: #0F0D1C;
    --color_3: #F063F2;
    --color_4: #230A59;


    --borde_1: solid 2px var(--color_3);

    --sombra_1: drop-shadow(0px 0px 10px var(--color_3));
    --sombra_2: drop-shadow(0px 0px 5px rgb(240, 99, 242, 0.7));
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Audiowide", sans-serif;
}


body{
    background-color: var(--color_2);
}