.contenedor_inicio{
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedor_inicio >:last-child{
    margin: 40px;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.contenedor_inicio >:last-child > a{
    margin-top: 30px;
    width: 80%;
    color: white;
    font-size: 25px;
    text-align: end;
    filter: var(--sombra_2);
}

.contenedor_inicio >:last-child > :last-child{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
}