.contenedor_barra_busqueda{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 20px;
}

.contenedor_barra_busqueda > input{
    width: 90%;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: var(--color_1);
    border: var(--borde_1);
    filter: var(--sombra_2);
}