.contenedor_encabezado{
    width: 100%;
    background-color: var(--color_1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
    border-radius: 0px 0px 10px 10px;
    border: var(--borde_1);
}

.contenedor_encabezado > p{
    color: var(--color_3);
    font-size: 40px;
    filter: var(--sombra_1);
}

.contenedor_encabezado > div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedor_encabezado > div > a{
    color: var(--color_3);
    font-size: 25px;
    transition: .3s;
}

.contenedor_encabezado > div > a:hover{
    color: #fc8ffd;
    filter: var(--sombra_1);
}