.contenedor_filtro{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedor_filtro > select{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: var(--color_1);
    border: var(--borde_1);
    filter: var(--sombra_2);
}

.contenedor_filtro > button{
    width: fit-content;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: var(--color_1);
    border: var(--borde_1);
    filter: var(--sombra_2);
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s;
}

.contenedor_filtro > button:hover{
    filter: var(--sombra_1);
}