.contenedor_formu_agregar_juego{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contenedor_formu_agregar_juego > h1{
    color: white;
    filter: var(--sombra_2);
    font-size: 30px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1){
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: var(--borde_1);
    border-radius: 10px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > img{
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding: 20px 0px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > div{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > div > label{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    filter: var(--sombra_2);
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > div > input,
.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > div > select{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: var(--color_1);
    border: var(--borde_1);
    filter: var(--sombra_2);
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > div:last-of-type{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > div:last-of-type > div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 2px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > div:last-of-type > div > p{
    color: var(--color_3);
    border: var(--borde_1);
    padding: 5px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > div:last-of-type > div > p > span{
    cursor: pointer;
}

.contenedor_formu_agregar_juego > div:nth-of-type(1) > form > button{
    font-size: 20px;
    background-color: var(--color_3);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}




.contenedor_formu_agregar_juego > h2{
    margin-top: 30px;
    width: 100%;
    color: white;
    filter: var(--sombra_2);
    font-size: 25px;
    border-top: var(--borde_1);
    padding: 30px 0px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 10px;
}

.contenedor_formu_agregar_juego > div:nth-of-type(2) > p{
    color: var(--color_3);
    border: var(--borde_1);
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}