.contenedor_formu_editar_resena{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    border: var(--borde_1);
    border-radius: 10px;
}

.contenedor_formu_editar_resena > h1{
    color: white;
    filter: var(--sombra_2);
    font-size: 30px;
}

.contenedor_formu_editar_resena > div:nth-of-type(1),
.contenedor_formu_editar_resena > div:nth-of-type(2){
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contenedor_formu_editar_resena > div > label{
    width: 100%;
    color: white;
    font-size: 20px;
    filter: var(--sombra_2);
}

.contenedor_formu_editar_resena > div > input,
.contenedor_formu_editar_resena > div > textarea{
    width: 100%;
    padding: 5px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: var(--color_1);
    border: var(--borde_1);
    filter: var(--sombra_2);
}

.contenedor_formu_editar_resena > div:nth-of-type(3){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}

.contenedor_formu_editar_resena > div:nth-of-type(3) > :nth-child(1){
    font-size: 20px;
    background-color: var(--color_3);
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.contenedor_formu_editar_resena > div:nth-of-type(3) > :nth-child(2){

    font-size: 20px;
    color: white;
    border-radius: 10px;
    background-color: var(--color_1);
    border: var(--borde_1);
    filter: var(--sombra_2);
    padding: 5px 10px;
    cursor: pointer;
    transition: .3s;
}

.contenedor_formu_editar_resena > div:nth-of-type(3) > :nth-child(2):hover{
    filter: var(--sombra_1);
}