.contendor_tarjeta_juego{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.caja_tarjeta_juego{
    width: 300px;
    height: 600px;
    background-color: var(--color_4);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: var(--borde_1);
    overflow: auto;
}

.caja_tarjeta_juego > img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.caja_tarjeta_juego > h1{
    color: white;
    font-size: 25px;
}

.caja_tarjeta_juego > div:nth-of-type(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    gap: 10px;
}

.caja_tarjeta_juego > div:nth-of-type(1) > p{
    color: white;
    font-size: 20px;
}

.caja_tarjeta_juego > p{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.caja_tarjeta_juego > div:nth-of-type(2){
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 2px;
}

.caja_tarjeta_juego > div:nth-of-type(2) > p{
    color: var(--color_3);
    border: var(--borde_1);
    padding: 5px;
    border-radius: 20px;
}

.contendor_tarjeta_juego > a{
    font-size: 20px;
    background-color: var(--color_3);
    width: fit-content;
    padding: 5px 10px;
    border-radius: 10px;
}